extends basic.pug
block header
    link(rel="stylesheet", href="/css/control.css")
block content
    .container.mb-4
        .row
            .col-sm-12 
                h3.mt-3 ¡Bienvenido #{rol}!
        .col-sm-12
        .row
            .col-sm-12
                div(class="card bg-dark text-white")
                    img(class="card-img", src="/css/bocas-toro-panama.jpg", alt="Card image")
                    div(class="card-img-overlay")
                        h4.card-title Control de las actividades en el sistema
                        a.btn.btn-primary(href='/admin/adminActividades', role='button').btn.btn-warning.btn-lgbtn-block Insertar Actividad
                        .card-body
                            div(class='pre-scrollable')
                                table.table.table-hover.table-light.mb-0
                                        thead.thead-dark
                                            tr
                                                th(scope="col") N°
                                                th(scope="col") Imagen-Actividad
                                                th(scope="col") Actividad
                                                th(scope="col") Descripcion-Actividad
                                                th(scope="col") Provincia
                                                th(scope="col") Contacto
                                                th(scope="col") Correo
                                                th(scope="col") Fecha de Publicación
                                                th(scope="col") Estado
                                                th(scope="col") Habitacion
                                                th(scope="col") Precio
                                                th(scope="col") Actualizar
                                                th(scope="col") Eliminar
                                        tbody
                                            for lista, n in actividad
                                                    tr
                                                        form(action='admin/control/actualizar', method='POST')
                                                            td.bg-secondary.text-light= n+1
                                                            td
                                                                if (lista.imagenes || !lista.imagenes[0]=="") 
                                                                    img(src="/"+lista.imagenes[0], alt="Imagen actividad", srcset="", class='img-thumbnail')
                                                                else
                                                                    img(src="/css/logo.png", alt="Imagen actividad", srcset="", class='img-thumbnail')
                                                            td #{lista.nombreact}
                                                                if (rol === 'compania')
                                                                    input#actividad(type='text' name='actividad', required, value=lista.nombreact)
                                                            td #{lista.descripcion}
                                                                if (rol === 'compania')
                                                                    input#descrip(type='text' name='descrip' value=lista.descripcion)
                                                            td #{lista.provincia}
                                                                if (rol === 'compania')
                                                                    select(class='form-control', name='provincias' value=lista.provincia)
                                                                        option(value='bocas') Bocas del Toro
                                                                        option(value='cocle') Coclé
                                                                        option(value='colon') Colón
                                                                        option(value='chiriqui') Chiriquí
                                                                        option(value='darien') Darién
                                                                        option(value='herrera') Herrera
                                                                        option(value='lossantos') Los Santos 
                                                                        option(value='panama') Panamá
                                                                        option(value='veraguas') Veraguas
                                                                        option(value='comarcas') Comarcas     
                                                            td #{lista.contacto}
                                                                if (rol === 'compania')
                                                                    input#contacto(type='text' name='contacto' value=lista.contacto)
                                                            td #{lista.correo}
                                                                if (rol === 'compania')
                                                                    input#correo(type='text' name='correo' value=lista.correo)
                                                            td #{lista.fecha_pub}
                                                            td #{lista.estado}
                                                                if (rol === 'compania')
                                                                    select#sexo(name="activo")
                                                                        option(value="active") Activo
                                                                        option(value="inactive") Inactivo
                                                            td #{lista.habdescripcion}
                                                                if (rol === 'compania')
                                                                    input#habdescripcion(type='text' name='hab' value=lista.habdescripcion) 
                                                            td #{lista.precio}
                                                                if (rol === 'compania')
                                                                    input#precio(type='text' name='precio' , required) 
                                                            td
                                                                input(type='hidden', value=lista._id, name='id')
                                                                input(type='submit',value='Actualizar').btn.btn-success
                                                        form(action='admin/control/eliminar', method='POST')
                                                            input(type='hidden', value=lista._id, name='id')
                                                            td
                                                                input(type='submit',value='Borrar').btn.btn-danger