extends basic.pug
block header
 link(rel="stylesheet", href="/css/actividades.css")
block content
            .container
                .row(class="mt-2")
                    div(class="col-sm-12 col-md-12 col-lg-4 col-xl-4")
                        a(href="/ofertas", class='btn btn-info w-100') 
                            i(class="fa fa-arrow-circle-left") 
                            span Regresar a las Ofertas
                .row(class="mt-1 mb-4")    
                    div(id='slider', class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-2")
                        if (oferta.imagenes && !oferta.imagenes[0]=="")
                            #carousel.carousel
                                .carousel-inner
                                    each imag, n in oferta.imagenes
                                        if n == 0
                                            .active.item.carousel-item(data-slide-number=n)
                                                img.img-responsive.visual(src='/'+imag)
                                        else
                                            .item.carousel-item(data-slide-number=n)
                                                img.img-responsive.visual(src='/'+imag)
                                            div(class='d-flex justify-content-center')
                                                a.carousel-control.left.pt-3(href="#carousel", data-slide="prev")
                                                    i.fa.fa-chevron-left.fa-2x
                                                a.carousel-control.right.pt-3(href="#carousel", data-slide="next")
                                                    i.fa.fa-chevron-right.fa-2x
                                    
                                    ul.carousel-indicators.list-inline
                                        each imag2, n in oferta.imagenes
                                            if n == 0
                                                li.list-inline-item.active
                                                    a#carousel-selector-0.selected(data-slide-to=n, data-target="#carousel")
                                                        img.img-responsive.miniatura(src='/'+imag2)
                                            else
                                                li.list-inline-item
                                                    a#carousel-selector-0.selected(data-slide-to=n, data-target="#carousel")
                                                        img.img-responsive.miniatura(src='/'+imag2)
                        else
                            img.img-responsive(src='/css/logo.png', class='visual')
                    div(class="col-sm-12 col-md-12 col-lg-8 col-xl-8")
                        form(action="/pagof", method="post")    
                            .card.info
                                .card-header
                                    .container 
                                        .row
                                            div(class='col-sm-12 col-md-12 col-lg-7 col-xl-7')
                                                h3.mt-1 #{oferta.nombreofer} 
                                                h6 Provincia: 
                                                    small #{oferta.provincia}
                                                h6 Fecha de publicación: 
                                                    small #{oferta.fecha_pub}
                                            div(class='col-sm-12 col-md-12 col-lg-5 col-xl-5')
                                                        input(name="usuario" type="hidden" value=id)
                                                        input(name="oferta" type="hidden" value=oferta._id)
                                                        //input(name="compania" type="hidden" value=oferta.compania)
                                                        input.float-right.btn.btn-primary.btn-lg.active(type="submit",value='¡Reserva Ya!', aria-pressed='true')
                                .card-body
                                        h5 Descripción:
                                        p.ml-2 #{oferta.descripcion}
                                        hr
                                        h5 Escoga sus fecha:
                                        p.ml-2 Inicio:
                                        input(name='finicio' , type='date')
                                        p.ml-2 Personas:
                                        input(type="number", name="cantidad", min='1', value='1')
                                        hr
                                        h5 Precio:
                                        p.ml-2 #{oferta.precio}, Por Persona
                                        hr
                                        if (oferta.telefono || oferta.correo)
                                            if (!oferta.telefono)
                                                h5 Contacto:
                                                p.ml-2 Número de Contacto: No proporcionado por el autor
                                                p.ml-2 Correo: #{oferta.correo}
                                                hr
                                            else if (!oferta.correo)
                                                h5 telefono:
                                                p.ml-2 Número de Contacto: #{oferta.telefono} 
                                                p.ml-2 Correo: No proporcionado por el autor
                                                hr
                                            else
                                                h5 telefono:
                                                p.ml-2 Número de Contacto: #{oferta.telefono}
                                                p.ml-2 Correo: #{oferta.correo}
                                                hr
                    //imagenes de ofertas que estan abajo                    
                .row
                    div(class="col-sm-12 no-padding")
                        .d-flex.justify-content-center.similares-top
                            h3.mt-2.mb
                        .card-group
                            each simi, i in similares
                                div(class="col-sm-12 col-md-4 no-padding")
                                    .card
                                        if (simi.imagenes && !simi.imagenes[0]=="")
                                            img(src='/'+simi.imagenes[0], alt="Imagen"+ i, class="card-img-top")
                                        else
                                            img(src='/css/logo.png', alt="Imagen"+ i, class="card-img-top")
                                        .card-body
                                            h4.card-title #{simi.nombreofer}
                                            h6.card-text Provincia: #{simi.provincia}
                                            p.card-text #{simi.descripcion}
                                            a(href="/ofertas/"+simi._id, class="black-text d-flex justify-content-end")
                                                h6 Ver una Oferta
                                                i(class="fa fa-angle-double-right")

