extends basic.pug
block header
    link(rel="stylesheet", href="/css/control.css")
block content
    .container.mb-4
        .row
            .col-sm-12 
                h3.mt-3 ¡Bienvenido administrador, #{usuario}!
        .col-sm-12
        .row
            .col-sm-12
                div(class="card bg-dark text-white")
                    img(class="card-img", src="/css/bocas-toro-panama.jpg", alt="Card image")
                    div(class="card-img-overlay")
                        h4.card-title Control de las actividades en el sistema
                        a.btn.btn-primary(href='/admin/adminActividades', role='button').btn.btn-warning.btn-lgbtn-block Insertar
                        .card-body
                            div(class='pre-scrollable')
                                table.table.table-hover.table-light
                                        thead
                                            tr
                                                th(scope="col") N°
                                                th(scope="col") Actividad
                                                th(scope="col") Compañia
                                                th(scope="col") Fecha de publicación
                                                th(scope="col") Activo
                                                th(scope="col") Eliminar
                                                th(scope="col") Actualizar
                                        tbody
                                            for lista, n in actividad
                                                    tr
                                                        form(action='admin/control/actualizar', method='post')
                                                            td= n+1
                                                            td #{lista.nombreact}
                                                                input#actividad(type='text' name='actividad')
                                                            td #{lista.compania}
                                                                input#compania(type='text' name='compania')
                                                            td #{lista.fecha_pub}
                                                                input#fecha(type='text' name='fecha')
                                                            td #{lista.estado}
                                                                select#sexo(name="activo")
                                                                    option(value="active") Activo
                                                                    option(value="inactive") Inactivo
                                                            td
                                                                input(type='hidden', value=lista._id, name='id')
                                                                input(type='submit',value='Actualizar').btn.btn-success
                                                        form(action='admin/control/eliminar', method='POST')
                                                            input(type='hidden', value=lista._id, name='id')
                                                            td
                                                                input(type='submit',value='Borrar').btn.btn-danger                                   
                                                            td
                                                        a.btn.btn-primary(href='/admin/adminActividades', role='button').btn.btn-warning Insertar